*{
    margin: 0%;
    padding: 0%;
}
#header #top {
    position:relative; max-width:1074px; min-width:320px; height:115px; margin:0 auto;
}

#header ul.menu {
    position:relative; max-width:1008px; min-width:320px; height:95px;
}

#aux-main{
    position:relative; max-width:1008px; min-width:320px; margin:0 auto;
}

#footer ul {
    max-width:768px; min-width:320px; margin:10px auto; 
}
body {
    font-family: "Roboto Condensed";
    font-size: 25px;
    background-color:#ffffff; 
}
.home{
    position: relative;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.page {
    display: grid;
  }
  .page::after {
    content: 'Visualización móviles';
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba( 255, 255, 255, 0.75 );
    display: inline-block;
    padding: 25px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid rgba( 0, 0, 0, 0.5 );
    border-radius: 15px;
  }
  .page > * {
    min-width: 20px;
    min-height: 20px;
  }
  @media ( min-width: 768px ) {
.page {
      max-width: 1140px;
      margin: 0 auto;
}
.page::after {
      content: 'Visualización escritorio'
}  
/* Fin viewport */

.top {
    width: auto;
    height: 40px;
    background: #000000;
}
.textA{
    position:absolute;
    top: 13px;
    left: 23%;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
    text-transform: uppercase;
}
.textC{
    position:absolute;
    top: 13px;
    left: 32%;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
    text-transform: uppercase;
}
.textD{
    position:absolute;
    top: 13px;
    left: 42%;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
    text-transform: uppercase;
}
/* Fin parte superior */

.textB{
    position:absolute;
    top: 14px;
    left: 79%;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
    font-style: italic;
}
.textI{
    position:absolute;
    top: 10px;
    left: 89%;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
}
/* Fin buscador */

.textW {
    position: absolute;  
    top: 58%;
    left: 14%;
    transform: translate(-25%, -25%);
    color: #ffffff;
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
}
.textZ {
    position: absolute;  
    top: 68%;
    left: 19%;
    transform: translate(-25%, -25%);
    color: #ffffff;
    font-weight: lighter;
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
}
.textX{
    position:absolute;
    top: 590px;
    left: 1088px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
}
.textY{
    position:absolute;
    top: 590px;
    left: 1060px;
    font-size: 13px;
}
.square-1 {
    position: relative;
    top: 529px;
    width: 75px;
    height: 100px;
    background: #1fbbeb;
}
.square-2 {
    position: relative;
    top: 429px;
    width: 100px;
    height: 98px;
    left: 75px;
    border: 1px solid #40979797;
}
.square-3 {
    position: relative;
    top: 329px;
    width: 105px;
    height: 98px;
    left: 176px;
    border: 1px solid #40979797;
}
.square-4 {
    position: relative;
    top: 229px;
    width: 94px;
    height: 98px;
    left: 282px;
    border: 1px solid #40979797;
}
.square-5 {
    position: relative;
    top: 129px;
    width: 160px;
    height: 98px;
    left: 377px;
    border: 1px solid #40979797;
}
.square-6 {
    position: relative;
    top: 29px;
    width: 120px;
    height: 98px;
    left: 538px;
    border: 1px solid #40979797;
}
.square-7 {
    position: relative;
    top: -71px;
    width: 125px;
    height: 98px;
    left: 659px;
    border: 1px solid #40979797;
}
.square-8 {
    position: relative;
    top: -171px;
    width: 110px;
    height: 98px;
    left: 785px;
    border: 1px solid #40979797;
}
.square-9 {
    position: relative;
    top: -271px;
    width: 120px;
    height: 98px;
    left: 896px;
    border: 1px solid #40979797;
}
.square-10 {
    position: relative;
    top: -371px;
    width: 94px;
    height: 98px;
    left: 1017px;
    border: 1px solid #40979797;
}
.text14{
    position:absolute;
    top: 680px;
    left: 120px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}
.text15{
    position:absolute;
    top: 670px;
    left: 190px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text16{
    position:absolute;
    top: 670px;
    left: 290px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text17{
    position:absolute;
    top: 670px;
    left: 400px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text18{
    position:absolute;
    top: 670px;
    left: 497px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text19{
    position:absolute;
    top: 680px;
    left: 654px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text20{
    position:absolute;
    top: 670px;
    left: 777px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text21{
    position:absolute;
    top: 670px;
    left: 900px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text22{
    position:absolute;
    top: 680px;
    left: 1010px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.text23{
    position:absolute;
    top: 670px;
    left: 1135px;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
/* Navegación Principal */

.toolbar {
    position: absolute;
    top: 30px;
    margin-left: 800px;
    font-size: 14px;
    color: #ffffff;
}
.textE{
    position:absolute;
    top: 40px;
    left: 100px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}
.textF{
    position:absolute;
    top: 40px;
    left: 176px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}
.textG{
    position:absolute;
    top: 40px;
    left: 245px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}
.textJ{
    position:absolute;
    top: 40px;
    left: 282px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}
.textK{
    position:absolute;
    top: 40px;
    left: 307px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}
.textH{
    position:absolute;
    top: 40px;
    left: 353px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}
/* Fin barra de navegación */

.article {
    margin-top: 40px;
    text-align: center;
    color: #44484c;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto Condensed";
}
.facts-row {
    position: relative;
}
.facts__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.facts-row .container {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.facts-row__title {
    margin-bottom: 4rem;
    text-align: center;
}
.facts {
    display: flex;
    flex-wrap: wrap;
}
.fact {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    flex: 33%;
    max-width: 33%;
    margin-bottom: 2rem;
}
.fact__icon {
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 70px;
}
.fact__label {
    grid-column: 2/3;
}
.fact__label {
    text-transform: uppercase;
    color: #44484c;
    font-size: 24px;
}
.fact__number {
    font-size: 3rem;
    color: #1abae9;
    font-weight: lighter;
    font-size: 60px;
}
/* Fin segunda sección de navegación */

.caja{
    position: relative;
    display: inline-block;
    list-style: none;
}
.text2{
    position: absolute;
    top: 10%;
    left: 43%;
    color: #ffffff;
    font-weight: lighter;
    font-size: 30px;
    text-transform: uppercase;
}
.text3{
    position: absolute;
    top: 18%;
    right:28%;
    font-size: 22px;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
}
.text4{
    position: absolute;
    top: 100%;
    right:25%;
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
}
.text5{
    position: absolute;
    top: 100%;
    right:25%;
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
}
.text6{
    position: absolute;
    top: 100%;
    right:25%;
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
}
.text7{
    position: absolute;
    top: 72%;
    margin-left: 35%;
    font-size: 22px;
    color: #ffffff;
    font-weight:normal;
}
.text8{
    position: absolute;
    top: 80%;
    margin-left: 28%;
    font-size: 15px;
    color: #ffffff;
    font-weight:normal;
    text-transform: uppercase;
}
.text90{
    position: absolute;
    top: 78%;
    margin-left: 27%;
    font-size: 15px;
    width: 260px;
    height: 50px;
}
.text9{
    position: absolute;
    top: 80%;
    margin-left: 52%;
    font-size: 15px;
    color: #ffffff;
    font-weight:normal;
    text-transform: uppercase;
}
.text91{
    position: absolute;
    top: 78%;
    margin-left: 50%;
    font-size: 15px;
    width: 260px;
    height: 50px;
}
/* Fin tercera sección de navegación */

.text31 {
    position: absolute; 
    top: 80px;
    left: 120px;
    font-size: 30px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text32 {
    position: absolute; 
    top: 96px;
    left: 40px;
    font-size: 15px;
    color:  #44484c;
    text-transform: uppercase;
}
.text33 {
    position: absolute; 
    top: 121px;
    left: 40px;
    font-size: 26px;
    color:  #44484c;
}
.text34 {
    position: absolute; 
    top: 148px;
    left: 40px;
    font-size: 26px;
    color:  #44484c;
}
.text35 {
    position: absolute; 
    top: 178px;
    left: 40px;
    font-size: 26px;
    color:  #44484c;
}
.text36 {
    position: absolute; 
    top: 226px;
    left: 40px;
    font-size: 18px;
    color:  #44484c;
}
.text37 {
    position: absolute; 
    top: 246px;
    left: 40px;
    font-size: 18px;
    color:  #44484c;
}
.text38 {
    position: absolute; 
    top: 290px;
    left: 40px;
    font-size: 15px;
    color: #1abae9;
    font-weight: bold;
    text-transform: uppercase;
}
.text39 {
    position: absolute; 
    top: 290px;
    left: 173px;
    font-size: 15px;
    color: #1abae9;
}
/* Fin sección destacamos */

.text40 {
    position: absolute; 
    top: 600px;
    left: 120px;
    font-size: 30px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text42 {
    position: absolute; 
    top: 615px;
    left: 515px;
    font-size: 15px;
    color: #1abae9;
    font-weight: bold;
    text-transform: uppercase;
}
.text43 {
    position: absolute; 
    top: 603px;
    left: 635px;
    font-size: 30px;
}
.text47 {
    position: absolute; 
    top: 20px;
    left: 20px;
    font-size: 14px;
    color:  #44484c;
    text-transform: uppercase;
}
.text48 {
    position: absolute; 
    top: 50px;
    left: 20px;
    font-size: 16px;
    color:  #44484c;
}
.text49 {
    position: absolute; 
    top: 20px;
    left: 20px;
    font-size: 14px;
    color:  #44484c;
    text-transform: uppercase;
}
.text50 {
    position: absolute; 
    top: 50px;
    left: 20px;
    font-size: 16px;
    color:  #44484c;
    text-transform: uppercase;
}
/* Fin sección prensa */

.text41 {
    position: absolute; 
    top: 600px;
    left: 700px;
    font-size: 30px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text51 {
    position: absolute; 
    top: 237px;
    left: 85px;
    font-size: 18px;
    color:  #44484c;
}
.text52 {
    position: absolute; 
    top: 233px;
    left: 250px;
}
.text53 {
    position: absolute; 
    top: 236px;
    left: 275px;
    font-size: 16px;
    color: #1abae9;
}
.text54 {
    position: absolute; 
    top: 231px;
    left: 410px;
}
.text55 {
    position: absolute; 
    top: 236px;
    left: 433px;
    font-size: 16px;
    color: #1abae9;
}
.text45 {
    position: absolute; 
    top: 20px;
    left: 20px;
    font-size: 16px;
}
.text46 {
    position: absolute; 
    top: 20px;
    left: 50px;
    font-size: 16px;
    color: #1abae9;
}
.text44 {
    position: absolute; 
    top: 48px;
    left: 20px;
    font-size: 13px;
    color:  #13181d;
}
/* Fin sección redes sociales */

/* Fin cuarta sección de navegación */

.text30 {
    position: absolute; 
    top: 80px;
    left: 120px;
    font-size: 30px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text56 {
    position: absolute; 
    top: 130px;
    left: 520px;
    font-size: 24px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text57 {
    position: absolute; 
    top: 197px;
    left: 540px;
    font-size: 14px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text58 {
    position: absolute; 
    top: 197px;
    left: 740px;
    font-size: 14px;
    color:  #44484c;
    font-weight: lighter;
}
.text59 {
    position: absolute; 
    top: 270px;
    left: 540px;
    font-size: 14px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text60 {
    position: absolute; 
    top: 270px;
    left: 740px;
    font-size: 14px;
    color:  #44484c;
    font-weight: lighter;
}
.text61 {
    position: absolute; 
    top: 346px;
    left: 540px;
    font-size: 14px;
    color:  #44484c;
    font-weight: lighter;
    text-transform: uppercase;
}
.text62 {
    position: absolute; 
    top: 346px;
    left: 740px;
    font-size: 14px;
    color:  #44484c;
    font-weight: lighter;
}
.text63 {
    position: absolute; 
    top: 197px;
    left: 1160px;
    font-size: 12px;
    color: #1abae9;
    line-height: 6mm;
    text-transform: uppercase;
}
.text64 {
    position: absolute; 
    top: 270px;
    left: 1160px;
    font-size: 12px;
    color: #1abae9;
    line-height: 6mm;
    text-transform: uppercase;
}
.text65 {
    position: absolute; 
    top: 346px;
    left: 1160px;
    font-size: 12px;
    color: #1abae9;
    line-height: 6mm;
    text-transform: uppercase;
}
/* Fin texto de sección licitaciones*/

.square-11 {
    position: relative;
    top: -152px;
    width: 760px;
    height: 76px;
    left: 520px;
    border: 1px solid #e4e6e8;
}
.square-12 {
    position: relative;
    top: -153px;
    width: 760px;
    height: 76px;
    left: 520px;
    border: 1px solid #e4e6e8;
}
.square-13 {
    position: relative;
    top: -154px;
    width: 760px;
    height: 76px;
    left: 520px;
    border: 1px solid #e4e6e8;
}
.text72 {
    position: absolute; 
    top: 140px;
    left: 1215px;
    font-size: 12px;
    color: #1abae9;
    line-height: 6mm;
    font-weight: bold;
    text-transform: uppercase;
}
.text66 {
    position: absolute; 
    top: 200px;
    left: 1140px;
    font-size: 12px;
}
.text67 {
    position: absolute; 
    top: 222px;
    left: 1140px;
    font-size: 12px;
}
.text68 {
    position: absolute; 
    top: 272px;
    left: 1140px;
    font-size: 12px;
}
.text69 {
    position: absolute; 
    top: 294px;
    left: 1140px;
    font-size: 12px;
}
.text70 {
    position: absolute; 
    top: 349px;
    left: 1140px;
    font-size: 12px;
}
.text71 {
    position: absolute; 
    top: 371px;
    left: 1140px;
    font-size: 12px;
}
.text73 {
    position: absolute; 
    top: 142px;
    left: 1270px;
    font-size: 12px;
}
/* Fin iconos de sección licitaciones*/

.text88 {
    position: absolute; 
    top: 330px;
    left: 130px;
    font-size: 26px;
    color: #ffffff;
    line-height: 1cm;
}
.text89 {
    position: absolute; 
    top: 360px;
    left: 130px;
    font-size: 15px;
    color: #e4e6e8;
    line-height: 1cm;
}
/* Fin sección transparencia*/

/* Fin quinta sección de navegación */

.text74 {
    position: absolute; 
    top: 60px;
    left: 100px;
}
.text75 {
    position: absolute; 
    top: 186px;
    left: 100px;
    font-size: 15px;
    color: #ffffff;
    line-height: 7mm;
}
.text76 {
    position: absolute; 
    top: 60px;
    left: 400px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1cm;
}
.text77 {
    position: absolute; 
    top: 60px;
    left: 720px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1cm;
}
.text78 {
    position: absolute; 
    top: 250px;
    left: 400px;
}
.text79 {
    position: absolute; 
    top: 280px;
    left: 400px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1cm;
}
.text80 {
    position: absolute; 
    top: 290px;
    left: 582px;
    font-size: 16px;
    color: #ffffff;
    line-height: 6mm;
}
.text82 {
    position: absolute; 
    top: 350px;
    left: 582px;
    font-size: 16px;
    color: #ffffff;
    line-height: 6mm;
}
.text81 {
    position: absolute; 
    top: 280px;
    left: 800px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1cm;
}
.text83 {
    position: absolute; 
    top: 0px;
    left: 970px;
}
.text84 {
    position: absolute; 
    top: 60px;
    left: 990px;
    font-size: 16px;
    color: #44484c;
    text-transform: uppercase;
}
.text85 {
    position: absolute; 
    top: 100px;
    left: 1050px;
}
.text86 {
    position: absolute; 
    top: 242px;
    left: 1000px;
}
.text87 {
    position: absolute; 
    top: 311px;
    left: 1000px;
}

/* Fin pie de página*/
  }